.App {
  text-align: center;
}

.app.light {
  background-color: #EDF6F9;
  color: #002e32;
}

.app.dark {
  background-color: #003539;
  color: #edf6f9;
}

.app.light .navbar {
  background-color: #83c5be;
}

.app.dark .navbar {
  background-color: #001219;
  color: #EDF6F9;
}

.app.dark .card {
  background-color: #556b6a;
  color: #edf6f9;
  border: 1px, solid, #83c5be;
}

.app.light .card {
  background-color: #ffffff;
  color: #002e32;
  border: 1px, solid, #006D77;
}

.app.dark .form-control {
  background-color: #556b6a;
  color: #edf6f9;
  border: 1px, solid, #83c5be;
}

.app.dark label {
  color: #edf6f9;
}

.app.dark .text-body-secondary{
  color: #83c5be!important;
}